catkin_pkg==1.0.0
clip==0.2.0
cv_bridge==1.13.0.post0
Flask==3.0.3
flask_socketio==5.3.6
matplotlib==3.4.3
numpy==1.24.4
opencv_python==4.9.0.80
Pillow==10.3.0
py3rosmsgs==1.18.2
Requests==2.32.3
scikit_learn
scipy
toml
torch==2.3.0
transformers
ultralytics
weightedstats
